* {
  padding: 10px;
}

.Header {
  background-color: lightgray;
  padding: 20px;
}
.Product {
  background-color: lightblue;
  height: fit-content;
  width: fit-content;
  transition: 2s;
  transform: rotateY(360deg);
}
.Product_List {
  display: flex;
  flex-direction: row;
  row-gap: 10px;
  column-gap: 20px;
}
.Product > img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}
.Button {
  background-color: black;
  color: aliceblue;
  border-radius: 10px;
}
.Button2 {
  color: aliceblue;
  background-color: black;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  margin-top: 10px;
}
.UserInput {
  width: fit-content;
  height: fit-content;
  background-color: lightcoral;
}
.DisplayInfo {
  background-color: lightgrey;
  width: fit-content;
  padding: 10px;
  height: fit-content;
  align-items: center;
}
.countries-container {
  display: flex;
}

.country {
  margin: 10px; /* Optional: Add margin between each country div */
  padding: 10px;
  background-color: #eb5160;
  border-radius: 10px; /* Optional: Add a border for better visualization */
}
.productDis {
  width: fit-content;
  height: fit-content;
  background-color: #93e5ab;
  padding: 20px;
}
.productDis > img {
  width: 200px;
  height: 200px;
}
.APIdata {
  width: fit-content;
  height: fit-content;
  background-color: #9c72c1;
  padding: 20px;
}
.APIdata > img {
  width: 200px;
  height: 200px;
}
.Displaydata {
  background-color: #9c72c1;
  width: fit-content;
  height: fit-content;
}
