* {
  padding: 10px;
}

.Header {
  background-color: lightgray;
  padding: 20px;
}
.Product {
  background-color: lightblue;
  height: fit-content;
  width: fit-content;
  transition: 2s;
  transform: rotateY(360deg);
}
.Product_List {
  display: flex;
  flex-direction: row;
  row-gap: 10px;
  column-gap: 20px;
}
.Product > img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}
.Button {
  background-color: black;
  color: aliceblue;
  border-radius: 10px;
}
.Button2 {
  color: aliceblue;
  background-color: black;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  margin-top: 10px;
}
.UserInput {
  width: fit-content;
  height: fit-content;
  background-color: lightcoral;
}
.DisplayInfo {
  background-color: lightgrey;
  width: fit-content;
  padding: 10px;
  height: fit-content;
  align-items: center;
}
